.commentContainer{
  padding-left:20px;
}

.avatar{
  width:35px;
  max-height: 40px;
  border-radius: 100%;
}

.postId{
  padding: 0;
  margin: 0;
  font-size: 12px;
  background: #222;
  color: #eee;
}
.aviHeader{
  margin: 6px;

}
.aviHeader a{
  margin-bottom:8px;
}
