.headerBar {
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color:red;
  .alert{
    padding:8px;

  }
}

#topBar{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 3px 3px 3.5em;
  background: linear-gradient(#dacfcf, #bbbbbb);
  }

  .headerWelcome{
    margin: 8px;
  }

  .avatar{
    max-height: 28px;
    width: 28px;
  }

  .icon{
    padding: 0px 0 0 20px;
    margin: -10px;
    font-size: 14px;
    border-left: 2px solid #e4dddd;
    box-shadow: -4px 2px 12px #79737375;
    background: linear-gradient(270deg, #f7eaea, #cecede47, #f7f7f794);
    color: #828282;
    text-shadow: 0px 1px 6px #8e8e8e7a;
    border-radius: 25px 0 0 0;

  }
  .handle{
    font-size: 1.2em;
    font-weight: 800;
  }
