.footer{

  .footer-container{
    .footer-content{
      background: linear-gradient(#dacfcf, #bbbbbb);
      border-top: 3px solid #ccc7c7;
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding:20px;
    }
  }
}
