<div class="board">
  <div class="loading" *ngIf="loading">

    <h1>
      Loading...
    </h1>
    <mat-progress-bar></mat-progress-bar>
  </div>
<div *ngIf="!loading">






  <!--Logic for handling Category view-->
  <div class="checkView" *ngIf="isCategoryView">
    <div class="breadcrumb">
      <a href="/forum"> Forum </a> > <a [href]="'forum/' + params.category" >{{params.category}} </a> >
    </div>
    <div class="boards" *ngFor="let collection of collections | async">
      <app-board-item [collection]="collection"></app-board-item>
    </div>
  </div>

  <!--Board -->

  <div class="breadcrumb" *ngIf="!isCategoryView">
   <a href="/forum"> Forum </a> > <a [href]="'forum/' + params.category" >{{params.category}} </a> >
     <a [href]="'forum/' + params.category + '/' + params.board" >{{params.board}} </a>
  </div>

  <div class="board"  *ngFor="let board of boards | async">
    <div class="boardHeader">
      <h1>{{board.name}}</h1>
      <p>{{board.description}}</p>

      <div class="topic-container " *ngFor="let topic of topics | async">
        <app-topic-single [topic]="topic"></app-topic-single>
      </div>
    </div>
  </div>


</div>
</div>
