.post, .comment{
  margin-left: 20px;
  /* padding: 18px; */
  background-color: #f5f5f5;
  padding: 10px;
  margin: 20px 0px 20px 25px;
  border-radius: 20px 0px 0px 43px;
  box-shadow: 6px 2px 8px #888888b3;
}
