#topBar{
display:flex;
justify-content: space-between;
align-items: center;
padding: 3px 3px 3px 3.5em;
}

.container{
  min-height: 80vh;
  background: linear-gradient(25deg, #dacfcf63, #bbbbbb63);

  color: #717171;
  text-shadow: 2px 3px 4px #80808075;
}

.small-toolbar{
  height: 35px;
}


.large-toolbar{
  height: 55px;
}

.white-text {
  color: #777777;
}
.salmon-bg {
  background: linear-gradient(#e4dddd,#989898);
}
.sidenav-container{
  background: linear-gradient(25deg, #dacfcf63, #bbbbbb63);
 
  color: #717171;
  text-shadow: 2px 3px 4px #80808075;
}