<div class="loader" *ngIf="!loading; else elseTemplate ">
  <div class="topicContainer">
    <div class="notFound" *ngIf="topicNotFound">
      <h1>Sorry, this content is not available</h1>
      <p>This content either does not exist or is not available at this time.</p>
    </div>

    <div class="topic" *ngIf="!topicNotFound">

      <div class="breadcrumb" >
        <a href="/forum"> Forum </a> > <a [href]="'forum/' + params.category" >{{params.category}} </a> >
         <a  [href]="'forum/' + params.category + '/' + params.board" >{{params.board}} </a> >
         <a [href]="'forum/' + params.category + '/' + params.board + '/' + params.post" >{{params.post}} </a>
      </div>

      <h1>{{(topic | async)?.topic}}</h1>
      <h3>Posted by: </h3> {{authorName }}
      <p>{{authorDetails | json}}</p>
      <p>{{(topic | async)?.content}}</p>
    </div>
  </div>

  <div class="commentContainer" *ngFor="let comment of comments | async ">
    <app-comment [comment]="comment" [params]="params"></app-comment>
  </div>

</div>

<ng-template #elseTemplate>
  <h1>Loading...</h1>
  <mat-progress-bar></mat-progress-bar>
</ng-template>

