<div class="profileContainer">
  <div class="profile" *ngFor="let profile of profiles | async">
    <h1><img [src]="profile.avatar" class="avatar">  {{profile.handle}}</h1>
    <h3>
     <a [href]="'http://' + userUrlBase + 'profile/' + profile.url">{{ 'http://' + userUrlBase + profile.url }}</a>
    </h3>
    <quill-view #quill [content]="profile.profile" format="html" theme="snow"></quill-view>
    <!-- <p>{{profile.profile}}</p> -->
<hr>
<app-recent-posts [authorId]="profile.id"></app-recent-posts>

  </div>
</div>
