@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bloss-primary: mat-palette($mat-grey);
$bloss-accent:  mat-palette($mat-brown, A200, A100, A400);



// The warn palette is optional (defaults to red).
$bloss-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$bloss-theme: mat-light-theme($bloss-primary, $bloss-accent, $bloss-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($bloss-theme);

// @include angular-typography();

$custom-typography: mat-typography-config(
  $font-family: 'Nunito',
);

@include mat-core($custom-typography);

@import url('https://fonts.googleapis.com/css2?family=El+Messiri&family=Mirza:wght@400;600;700&family=Nunito:wght@300;400;600;700&display=swap');
*{
  font-family: 'Nunito';
}

a{
  color:rgb(110, 99, 99);
  &:visited{
    color:rgb(131, 130, 130);
  }
  &:active{
    color:rgb(105, 98, 98);
  }
  &:hover{
    color:rgb(99, 99, 104);
  }
}

img{
  filter: drop-shadow(2px 3px 2px #777);
}

.serif{
  font-family: 'Mirza', cursive;
}
.sans{
  font-family: 'El Messiri', sans-serif;
}
.nunito{
  font-family: 'Nunito', sans-serif;
}

.salmon-bg{
  background: #333;
}
.salmon-text{
  color:#333;
}
.white-text{
color: whitesmoke;
}
