<h1 class="title">Login</h1>

<div class="name" *ngIf="handlesLoaded && loggedIn; else loginForm">

    <h3 *ngFor="let handle of handles">Welcome, {{ handle.handle }}</h3>
    <p>You are already logged in.</p>


</div>

<div class="loginForm" #loginForm>



  <form [formGroup]="loginForm" *ngIf="!loggedIn">
    <div class="loginInputs">



      <mat-form-field class="example-full-width" >
        <mat-label>Email</mat-label>
        <input matInput placeholder="test@email.com" type="email" name="email" id="email" formControlName="email">
      </mat-form-field>

      <mat-form-field class="example-full-width" >
      <mat-label>Password</mat-label>
        <input matInput  type="password" name="password" id="password" formControlName="password">
      </mat-form-field>
    </div>

    <div class="loginActions">
      <button mat-button (click)="login()">Login</button>
      <button mat-button >Reset Password</button>
      <button mat-button (click)="create()">Sign Up</button>
    </div>
  </form>
</div>

